button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
}

.iconbtn {
    background-color: transparent;
    transition: transform 0.2s;
    transform: scale(1);
}

.iconbtn:hover{
    transform: scale(1.2);
}

.bootstrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    border: none;

    color: rgb(255, 228, 228);
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    font-size: 18px;
}

.bootstrap:hover {
    color: rgb(255, 228, 228);
    color: #9e6c5c;
    background: rgba(0, 0, 0, 0.8);
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 16px;
}

.buttons > button {
    color: rgb(255, 228, 228);
    background: rgba(0, 0, 0, 0.3);
}

.buttons > button:hover {
    color: rgb(255, 228, 228);
    color: #9e6c5c;
    background: rgba(0, 0, 0, 0.6);
}
