:root {
    /* couleur d'arrière plan */
    --background-1: #9e6c5c;
    --background-2: #5e4239;
    --background-3: #47332c;
    --background-4: #3b2b26;
    --background-5: #2c211d;

    /* couleur de texte  */
}
