.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 20;
    transition: 0.2s;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    inset: 0; /* gere le top left right bottom */
}

.card > div {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 32px;
    gap: 16px;

    background: rgba(38, 26, 22, 0.8);
    backdrop-filter: blur(16px);
    border-radius: 32px;
    height: 90vh;
    max-width: 85vw;
}

.card.hidden {
    opacity: 0;
    pointer-events: none;
}

.deletecard {
    display: flex;
    flex-direction: column;
    margin: 16px;
    padding: 32px;
    gap: 16px;

    background: rgba(38, 26, 22, 0.8);
    backdrop-filter: blur(16px);
    border-radius: 32px;
    height: 30vh;
    max-width: 45vw;
    position: fixed;
    transition: 0.2s;
}

.deletecard.hidden {
    opacity: 0;
    pointer-events: none;
}

.background {
    display: none;
    transition: transform 1s;
    transform: scale(0);
}

.appear {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(15px);
    transform: scale(1);
}

.logsign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    position: fixed;
    background: rgba(38, 26, 22, 0.8);
    backdrop-filter: blur(16px);
    padding: 16px;
    margin: 128px;
    gap: 32px;
    border-radius: 30px;
    width: 40%;
    height: 30%;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.write {
    display: flex;
    justify-content: center;
    gap: 8px;
    width: 100%;
}

.text-input {
    font-family: Raleway;
    background: none;
    border: solid;
    border-color: rgba(255, 228, 228, 0.3);
    color: rgba(255, 228, 228, 1);
    border-radius: 25px;
    resize: none;
    outline: none;
    width: 80vw;
    height: 20vh;
    padding: 16px;
    max-width: 90%;
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px black;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #ffbcbc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #47332c;
}

.tags-post {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100vh;
    gap: 8px;
}

.tags-post > ul {
    columns: 2;
}

@media screen and (min-width: 1000px) {
    .card > div {
        display: flex;
        max-width: 45vw;
    }

    .tags-post > ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        columns: 1;
        gap: 8px;
    }

    ul > li > button {
        width: 15vw;
    }
}

ul > li > button {
    border-radius: 16px;
}

.couleur-tag-1 {
    color: var(--text-color);
    background-color: rgba(124, 234, 241, 0.3);
}

.couleur-tag-1:hover {
    background-color: rgba(71, 160, 167, 0.3);
}

.couleur-tag-2 {
    color: var(--text-color);
    background-color: rgba(107, 192, 115, 0.3);
}

.couleur-tag-2:hover {
    background-color: rgba(57, 123, 64, 0.3);
}

.couleur-tag-3 {
    color: var(--text-color);
    background-color: rgba(222, 137, 89, 0.3);
}

.couleur-tag-3:hover {
    background-color: rgba(141, 81, 47, 0.3);
}

.couleur-tag-4 {
    color: var(--text-color);
    background-color: rgba(45, 96, 142, 0.3);
}

.couleur-tag-4:hover {
    background-color: rgba(17, 50, 79, 0.3);
}

.couleur-tag-5 {
    color: var(--text-color);
    background-color: rgba(165, 73, 198, 0.3);
}

.couleur-tag-5:hover {
    background-color: rgba(86, 30, 106, 0.3);
}

.couleur-tag-6 {
    color: var(--text-color);
    background-color: rgba(235, 219, 134, 0.3);
}

.couleur-tag-6:hover {
    background-color: rgba(147, 133, 65, 0.3);
}

.couleur-tag-7 {
    color: var(--text-color);
    background-color: rgba(255, 111, 223, 0.3);
}

.couleur-tag-7:hover {
    background-color: rgba(199, 55, 168, 0.3);
}

.couleur-tag-8 {
    color: var(--text-color);
    background-color: rgba(233, 78, 78, 0.3);
}

.couleur-tag-8:hover {
    background-color: rgba(159, 41, 41, 0.3);
}

.couleur-tag-9 {
    color: var(--text-color);
    background-color: rgba(34, 158, 62, 0.3);
}

.couleur-tag-9:hover {
    background-color: rgba(19, 95, 37, 0.3);
}

.couleur-tag-10 {
    color: var(--text-color);
    background-color: rgba(114, 138, 183, 0.3);
}

.couleur-tag-10:hover {
    background-color: rgba(55, 75, 112, 0.3);
}

.bottom {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 8px;
}
